.badges-not-valid {
    background-color: red;
}

.badges-valid{
    background-color: limegreen;
}

.image{
    height: 128px;
    width: 128px;
}
.text{
    color: white;
}

.badge{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}