.DashBoard {
    /*padding: 10px;*/
        top: auto;
        bottom: 0;
        background-color: #c73e1d;
        background-image: linear-gradient(315deg, #c73e1d 0%, #a23b72 37%, #2e86ab 100%);
        width: 100vw;
}

.grow{
        flex-grow: 1;
}

.text{
        color: white;
}